.home_title {
    text-align: center;
    color: rgb(210, 0, 0);
    margin-left: auto;
    margin-right: auto;
}

.home-content {
    margin-top: 45px;
}

.black_list_span {
    color: red;
}

.description {
    font-size: 20px;
    width: 45%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}