.users-list {
    margin-top: 70px;
    padding-left: 20px;
    width: 300px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    width: 210px;
}

.users-select {
    width: 75px;
}

.search {
    width: 125px;
}

.users-select, .search {
    height: 23px;
}

.filter-dialog {
    border: 1px solid black;
    border-radius: 5px;
}

.dialog-buttons {
    width: 120px;
    margin-left: 220px;
    display: flex;
    justify-content: space-between;
}