.central {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.fields {
    width: 310px;
    height: 200px;
    overflow: auto;
}

.fields-table, .table-col {
    border-radius: 5px;
    border: 1px solid black;
}

.table-col {
    border-radius: 3px;
}

.fields-table {
    border-collapse: separate;
    width: 100%;
}

.fields-input {
    border: 0px;
}

.buttons {
    position: absolute;
    padding-top: 3px;
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
    width: 200px;
    height: 30px;
}